

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
.hero-unit { text-align: center; }

.carousel-inner { text-align: center; }

.carousel .item > img { display: inline-block; }






