

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
   .hero-unit { text-align: center; }

   .carousel-inner { text-align: center; }

   .carousel .item > img { display: inline-block; }

   .alert {
    padding-right: 18px;
  }

  .navbar .brand {
    padding: 4px 20px 4px;
  }

  @media (max-width: 480px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
      margin-left: -10px;
      margin-right: -10px;
    }

    body {
      padding-left: 10px;
      padding-right: 10px;
    }

    .well {
      padding: 10px;
    }

    .table th {
      font-weight:bold;
    }
  }

  @media (max-width: 979px) {
    .table th, .table td {
      padding: 5px;
    }

    .well {
      padding: 10px;
    }
  }

  @media (max-width: 767px) {
    [class*="span"], .row-fluid [class*="span"] {
      width: 100%;
    }
  }

  .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {

    background-color: #E5E5E5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  }

  @media (min-width: 1200px) {
    .hero-unit .span9.visible-desktop {
      margin-top: 25px;
    }
  }

  .navbar .nav > li > a {
    font-size: 15px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar .brand {
    padding-left: 4px;
  }

  footer {
    text-align: center;
    line-height: 14px;
    font-size: 12px;
  }

  footer > p {
    margin-bottom: 0px;
  }