

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
.hero-unit { text-align: center; }

.carousel-inner { text-align: center; }

.carousel .item > img { display: inline-block; }

.alert {
  padding-right: 18px;
}

@font-face {
  font-family: 'TrajanPro';
  src: url('font/TrajanPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'TrajanPro';
  font-weight: bold;
  src: url('font/TrajanPro-Bold.otf') format("opentype");
}


body {
  font-family: 'TrajanPro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input,
button,
select,
textarea {
  font-family: 'TrajanPro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
  font-family: 'TrajanPro',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .brand {
  padding: 4px 20px 4px;
}

@media (max-width: 480px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-left: -10px;
    margin-right: -10px;
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .well {
    padding: 10px;
  }

  .table th {
    font-weight:bold;
  }
}

@media (max-width: 979px) {
  .table th, .table td {
    padding: 5px;
  }

  .well {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"] {
    width: 100%;
  }
}

.carousel-control.right , .carousel-control.left {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 